.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  margin-top: 60px;
  background-color: #ffffff;
  width: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.form-inputs {
  width: 50%;
  align-items: center;
}

.text-center {
  display: flex;
  justify-content: flex-start;
}

.login-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.form-actions input[type="submit"] {
  background-color: #3232fb;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  border-radius: 5px;
}


.login-button {
  text-align: center;
}
