<!DOCTYPE html>
<html lang="en">
<head>
  <title>RentYourCar</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>
<body>

  <h1>Rent your car!</h1>

 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1630356220213-f812ff62bdeb?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
</div>

<div class="opening">
<h1>Popular cars:</h1>
</div>

<div class="container">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1592840062661-a5a7f78e2056?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Car 1">
    <h2>Car 1</h2>
    <p>Description of Car 1</p>
    <p>Price: $XX,XXX</p>
    <button>Rent Now</button>
  </div>

  <div class="card">
    <img src="https://images.unsplash.com/photo-1592840062661-a5a7f78e2056?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Car 2">
    <h2>Car 2</h2>
    <p>Description of Car 2</p>
    <p>Price: $XX,XXX</p>
    <button>Rent Now</button>
  </div>

  <div class="card">
    <img src="https://images.unsplash.com/photo-1592840062661-a5a7f78e2056?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Car 1">
    <h2>Car 3</h2>
    <p>Description of Car 3</p>
    <p>Price: $XX,XXX</p>
    <button>Rent Now</button>
  </div>
</div>

<div class="container">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1592840062661-a5a7f78e2056?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Car 1">
    <h2>Car 4</h2>
    <p>Description of Car 4</p>
    <p>Price: $XX,XXX</p>
    <button>Rent Now</button>
  </div>

  <div class="card">
    <img src="https://images.unsplash.com/photo-1592840062661-a5a7f78e2056?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Car 2">
    <h2>Car 5</h2>
    <p>Description of Car 5</p>
    <p>Price: $XX,XXX</p>
    <button>Rent Now</button>
  </div>

  <div class="card">
    <img src="https://images.unsplash.com/photo-1592840062661-a5a7f78e2056?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Car 1">
    <h2>Car 6</h2>
    <p>Description of Car 6</p>
    <p>Price: $XX,XXX</p>
    <button>Rent Now</button>
  </div>
</div>


</body>
</html>
