// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.title-cars{
  background:lightslategray;
  width:13%;
  color:white;
  border-radius: 20px;
  padding-left: 10px;
}

.car-details{
  background-color:burlywood;
}

.card{
  border-radius: 20px;
  background-color: lightsteelblue;
}

.card-title{
  color: white;
}
