// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.index-nav-bar {
  height: 50px;
  background-color: #0c4ae2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 30px 170px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.logo {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white; /* Change color as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow */
  /* Add any other styles you want */
}


.index-container {
  padding: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card {
  width: 250px; /* Adjust the width to your desired size */
  height: 400px; /* Adjust the height to your desired size */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: full;
  height: 100;
}

.card-details {
  padding: 20px;
}

.card-details p {
  margin-bottom: 10px;
}

.card-details a {
  display: block;
  background-color: blue;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 8px 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 40px;
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  margin-right: 10px;
  font-size: 16px;
}

.search-bar button[type="submit"] {
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Font Awesome icon */
.search-bar button[type="submit"] i {
  font-size: 13px;
}
