.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.btn{
  background-color:lightslategrey;
  border-radius:20px;
  color:azure;
}
.navbar-brand{
  border-radius: 10px;
  background-color:lightslategray;
  color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;
}
.dropdown-toggle{
  background-color:lightslategray;
  border-radius: 10px;
  color: aliceblue;
  padding-left:20px;
  padding-right: 10px;
}

.nav-link{
  background-color:lightslategray;
  border-radius: 10px;
  color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;
}
.dropdown{
  padding-left: 10px;
}

#history{
  background-color:lightslategray;
  border-radius: 10px;
  color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;
}
