<div>
  <%= link_to "Edit", edit_car_path, style: "background-color: blue; color: white; text-decoration: none; padding: 5px 10px; border-radius: 5px;" %>
    <%= link_to "See All Cars", cars_path, style: "background-color: blue; color: white; text-decoration: none; padding: 5px 10px; border-radius: 5px; margin-left: 10px;" %>
    <%= link_to "Delete",
  car_path(@car),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, style: "background-color: blue; color: white; text-decoration: none; padding: 5px 10px; border-radius: 5px; margin-left: 10px;"
%>
</div>




